body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 450px;
    margin: 85px auto 0;
    background: white;
    padding: 120px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: var(--maincolor);
    margin-top: -60px;
    margin-bottom: 30px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
}

.info {
    text-align: center;
}

.info h2 {
    margin: 0;
    text-align: center;
    display: inline;
    color: var(--textcolor);
    font-size: 24px;
    
}

.info p {
    margin: 5px 0;
    font-size: 18px;
    margin-top: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--maincolor);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
}

.btn:hover {
    background-color: #26a88b;
}

.btn:active {
    background-color: #1e7a6b;
    transform: scale(0.95);
}

.btn.editing {
    background-color: #ffcc00;
    color: #000;
}

.edit-form {
    margin-top: 20px;
}

.profile-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--maincolor);
    object-fit: cover;
    cursor: pointer;
}

.right-icons {
    display: flex;
    align-items: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
    margin-bottom: 25px;
}

.info-item span {
    font-weight: bold;
    color: var(--textcolor);
    font-size: 18px;
}

.info-value {
    background-color: #e9f5f5;
    border: 1px solid var(--maincolor);
    border-radius: 5px;
    padding: 5px 10px;
    width: 200%;
    margin-top: 5px;
    font-size: 18px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* Center the modal */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust width as needed */
    max-width: 600px; /* Set a maximum width for the modal */
    position: relative; /* Position relative for centering */
    top: 50%; /* Move down 50% */
    transform: translateY(-50%); /* Adjust to center vertically */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
